src/*.exe
src/sarnath
src/sarnathd
src/test_sarnath
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.sarnath

# Compilation and Qt preprocessor part
*.qm
Makefile
sarnath-qt
Sarnath-Qt.app

# Unit-tests
Makefile.test
sarnath-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
